<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= t('title') %></title>
    <link rel="stylesheet" type="text/css" href="/css/nest.css" />
    <!-- Google reCaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<div class="layout-box">
    <div class="content-box">
        <form name="loginForm" class="signupForm" action="" method="post">
            <div>
                <% if (messages && messages.error) { %>
                <div class="msg-wrong"><%= messages.error %></div>
                <% } else if (messages && messages.info) { %>
                <div class="msg-right"><%= messages.info %></div>
                <% } %>
            </div>
            <div>
                <label class="login-label"><%= t('text.newPassword') %><input type="password" name="password"
                                                                              required minlength="6" maxlength="30" placeholder="password"/></label>
            </div>
            <div>
                <label class="login-label"><%= t('text.confirmPassword') %><input type="password" name="confirmPassword"
                                                                                  required minlength="6" maxlength="30" placeholder="password"/></label>
            </div>
            <div class="g-recaptcha" data-sitekey="6Ld6vBQTAAAAABu1v2KbVv9ZfnpqZxA1A1aHFA5y"></div>
            <div>
                <input class="login-submit" type="submit" value='<%= t("nav.submit") %>' />
            </div>
        </form>
    </div>
</div>
</body>
</html>

